.has--red {
    background-color: hsl(0, 78%, 46%);
    color: #fff;
}
.has--blue {
    background-color: #92E3A9;

}
.has--pastel {
    background-color: #964a6d;
}
.button {
    background-color: red;
}
.has-padding {
    padding-left: 47px;
}

.has-animation {
    animation: growth ease-in 0.6s;
}
.has--shadow {
    box-shadow: 0px 2px 5px black;
}

.is-heading {
    text-align: center;
    padding-right: 20px;
    font-size: 18px;
}
@keyframes growth {
    from {
        transform: translateY(0%);
    }
    to {
         transform: translateY(-10px);
    }
}

@keyframes up {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20px);
    }
    
}

